<div class="main-outer">
  <div class="row">

    <div class="col-6 col-sm-6 col-md-6 col-lg-6 inner" >

      <form [formGroup]="form" class="example-form" >

        <div class="mb-3 row">
          <label for="Product" class="col-sm-2 col-form-label">Product</label>
          <div class="col-sm-10">

            <select [ngModelOptions]="{standalone: true}" [(ngModel)]="selectedItem" (ngModelChange)="changePrice()" id="Product"  class="form-select form-select-sm" aria-label=".form-select-sm example" >


              <option *ngFor="let product of products" value="{{product?.propertyId}}">{{product?.displayName}}</option>
            </select>
          </div>
        </div>

        <div class="mb-3 row">
          <label for="Price" class="col-sm-2 col-form-label">Price</label>
          <div class="col-sm-10">
            <input formControlName="price" type="number"  class="form-control" id="Price">
          </div>
        </div>

        <div class="mb-3 row">
          <label for="Qty" class="col-sm-2 col-form-label">Qty</label>
          <div class="col-sm-10">
            <input formControlName="qty" type="number" step="0.01" class="form-control" id="Qty">
          </div>
        </div>


        <div class="row">
          <div class="col-6">
        <button (click)="addbuttonClicked()" type="button"  class="addbutton" mat-raised-button color="primary">Add Product</button>&nbsp;
            <button (click)="cancelbuttonClicked()" type="button"  class="cancelbutton" mat-raised-button color="primary">Cancel Order</button>&nbsp;
          </div>
        </div>


        <br>

        <div class="mb-3 row">
          <label for="TotalAmount" class="col-sm-2 col-form-label">Total Amount</label>
          <div class="col-sm-6">
            <input formControlName="totalamount" type="number" step="0.01" class="form-control" id="TotalAmount">
          </div>
        </div>

        <div class="mb-3 row">
          <label for="Discount" class="col-sm-2 col-form-label">Discount</label>
          <div class="col-sm-6">
            <input (keyup)="calNettotal()" formControlName="discount" type="number" step="0.01" class="form-control" id="Discount">
          </div>
        </div>

        <div class="mb-3 row">
          <label for="NetTotal" class="col-sm-2 col-form-label">Net Total</label>
          <div class="col-sm-6">
            <input formControlName="nettotal"  type="number" step="0.01" class="form-control" id="NetTotal">
          </div>
        </div>

        <div class="mb-3 row">
          <label for="paidamount" class="col-sm-2 col-form-label">Paid Amount</label>
          <div class="col-sm-6">
            <input (keyup)="calBalance()" formControlName="paidamount" type="number" step="0.01" class="form-control" id="paidamount">
          </div>
        </div>

        <div class="mb-3 row">
          <label for="balanceamount" class="col-sm-2 col-form-label">Balance Amount</label>
          <div class="col-sm-6">
            <input formControlName="balanceamount" type="number" step="0.01" class="form-control" id="balanceamount">
          </div>
        </div>

      </form>
    </div>
    <div class="col-6 col-sm-6 col-md-6 col-lg-6 inner" >
<div class="inner-scroll">
      <table class="table table-hover">
        <thead>

        <tr class="scrl">

          <th>Item Description</th>
          <th>Price</th>
          <th>Qty</th>
          <th>Amount</th>
          <th>Option</th>
        </tr>

        </thead>
        <tbody>

        <tr *ngFor="let item of addeditems; let i = index">
          <td>{{item?.itemdescription}}</td>
          <td>{{item?.price}}</td>
          <td>{{item?.qty}}</td>
          <td>{{item?.amount}}</td>
          <td><button class="delete" (click)="deleteItem(i)">Delete</button></td>


        </tr>

        </tbody>

        <tfoot>

        </tfoot>
      </table>
      </div>

     <br>

      <div class="mb-3 row">
        <label for="Paytype1" class="col-sm-2 col-form-label">Paytype 1</label>
        <div class="col-sm-6">

          <select id="Paytype1" class="form-select form-select-sm" aria-label=".form-select-sm example">


            <option *ngFor="let paytype of paytypes" value="{{paytype?.paytypeId}}">{{paytype?.payType}}</option>
          </select>
        </div>
      </div>


      <button class="Savebutton" type="button"  mat-raised-button color="primary">Save & Print</button>&nbsp;
    </div>
  </div>
</div>
