<div class="main-outer">
  <div class="row">

    <div class="col-6 col-sm-6 col-md-6 col-lg-6 inner" >

      <form [formGroup]="form" class="example-form" >

        <div class="mb-3 row">
          <label for="Product" class="col-sm-2 col-form-label">Product</label>
          <div class="col-sm-10">

            <select [ngModelOptions]="{standalone: true}" [(ngModel)]="selectedItem" (ngModelChange)="changePrice()" id="Product"  class="form-select form-select-sm" aria-label=".form-select-sm example" >


              <option *ngFor="let product of products" value="{{product?.propertyId}}">{{product?.displayName}}</option>
            </select>
          </div>
        </div>

        <div class="mb-3 row">
          <label for="Price" class="col-sm-2 col-form-label">Price</label>
          <div class="col-sm-10">
            <input formControlName="price" type="number"  class="form-control" id="Price">
          </div>
        </div>

        <div class="mb-3 row">
          <label for="Qty" class="col-sm-2 col-form-label">Qty</label>
          <div class="col-sm-10">
            <input formControlName="qty" type="number" step="0.01" class="form-control" id="Qty">
          </div>
        </div>


        <div class="mb-3 row">
          <label for="Amount" class="col-sm-2 col-form-label">Amount</label>
          <div class="col-sm-10">
            <input formControlName="amount" type="number" step="0.01" class="form-control" id="Amount">
          </div>
        </div>
        <button class="addbutton" type="submit" mat-raised-button color="primary">Add Product</button>&nbsp;
        <button class="cancelbutton"  type="submit" mat-raised-button color="primary">Cancel Product</button>
       <br>
        <br>
        <br>
        <div class="mb-3 row">
          <label for="TotalAmount" class="col-sm-2 col-form-label">Total Amount</label>
          <div class="col-sm-10">
            <input formControlName="totalamount" type="number" step="0.01" class="form-control" id="TotalAmount">
          </div>
        </div>

        <div class="mb-3 row">
          <label for="Discount" class="col-sm-2 col-form-label">Discount</label>
          <div class="col-sm-10">
            <input formControlName="discount" type="number" step="0.01" class="form-control" id="Discount">
          </div>
        </div>

        <div class="mb-3 row">
          <label for="NetTotal" class="col-sm-2 col-form-label">Net Total</label>
          <div class="col-sm-10">
            <input formControlName="nettotal"  type="number" step="0.01" class="form-control" id="NetTotal">
          </div>
        </div>
      </form>
    </div>
    <div class="col-6 col-sm-6 col-md-6 col-lg-6 inner" >
      <table class="table">
        <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Item Description</th>
          <th scope="col">Price</th>
          <th scope="col">Qty</th>
          <th scope="col">Amount</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <th scope="row">1</th>
          <td>Mark</td>
          <td>Otto</td>
          <td>@mdo</td>
          <td>@mdo</td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>Jacob</td>
          <td>Thornton</td>
          <td>@fat</td>
          <td>@fat</td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td>Larry the Bird</td>
          <td>@twitter</td>
          <td>@fat</td>
          <td>@fat</td>
        </tr>

        </tbody>
      </table>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>

      <br>
      <div class="mb-3 row">
        <label for="Paytype1" class="col-sm-2 col-form-label">Paytype 1</label>
        <div class="col-sm-10">

          <select id="Paytype1" class="form-select form-select-sm" aria-label=".form-select-sm example">


            <option *ngFor="let paytype of paytypes" value="{{paytype?.paytypeId}}">{{paytype?.payType}}</option>
          </select>
        </div>
      </div>


      <br>
      <button class="Savebutton" type="submit" mat-raised-button color="primary">Save & Print</button>&nbsp;
    </div>
  </div>
</div>
